thead{
    background-color: rgb(4, 180, 136);
    color: white;
}

table{
    /* background-color: green; */
    border-collapse: collapse;
    box-shadow: 0 0 10px rgb(233, 233, 233);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
td{
    padding: 20px;
    /* border: 10px solid red; */
}
h2{
    color: red;
}
ul{
    border: 10px solid yellow;
    
}
li{
    background-color: aqua;
    margin: 2px;
    
}
ol{
    background-color: rgb(247, 224, 224);
    border: 10px solid rgb(247, 224, 224);
    
}
a{
 text-decoration: none;
 background-color: green;
 color: white;
 border-radius: 10px;
 padding: 10px;
}
a:hover{
 text-decoration: none;
 background-color: rgb(21, 71, 5);
 color: white;
 border-radius: 10px;
 padding: 10px;
}